PLANNING_DATA_DIR=/data/zones
PLANNING_REGISTER_DIR=/register
CADASTRAL_URL=http://cadastral:8011
FLAGS=feature.planning.layers feature.planning.plan.BDA-RMP2031
KEYCLOAK_URL=http://keycloak:8080
KEYCLOAK_REALM=sat
CORS_ORIGINS=["http://localhost:3000"]
